parameters:
  level: '1'
  excludePaths:
    - config
    - resources
    - dev
    - .cache
    - builds/openeuropa/newsroom_connector/src/Plugin/migrate_plus/data_parser/SimpleXml.php
    - builds/openeuropa/newsroom_connector/src/MigrateBatchExecutable.php
    - builds/openeuropa/newsroom_connector/src/MigrateExecutable.php
  ignoreErrors:
    - '#^Unsafe usage of new static#'
    - '#Caught class .*Exception not found.#'
  drupal:
    drupal_root: '%currentWorkingDirectory%/web'
