parameters:
  level: '1'
  paths:
    - src
  excludePaths:
    - config
    - resources
    - dev
    - .cache
    - src/Plugin/migrate_plus/data_parser/SimpleXml.php
    - src/MigrateBatchExecutable.php
    - src/MigrateExecutable.php
  ignoreErrors:
    - '#^Unsafe usage of new static#'
    - '#Caught class .*Exception not found.#'
  drupal:
    drupal_root: '%currentWorkingDirectory%/web'
